<div id="mainPage" class="clear-fix">
		<!--Header-->
		<div class="container-fluid">
		  <div class="wpb-wapper heade">
			<header class=" clear-fix fix-width ">
			<div class="row">
			<div class="header-content  col-sm-4 col-md-8 col-lg-8">
			  <div onclick="window.location.href='/'">
				<svg width="108" height="76" viewBox="0 0 108 76" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M76 12.8571C76 9.84429 74.2056 7.26857 71.6387 6.59143L47.2394 0.156428C46.8306 0.0514285 46.4144 0 46 0C45.5856 0 45.1694 0.0514285 44.7344 0.162857L20.3612 6.59143C17.7925 7.26857 16 9.84429 16 12.8571C16 15.87 17.7944 18.4457 20.3594 19.1229L25.375 20.445V38.5714C25.375 44.2586 31.0712 49.2857 46 49.2857C60.9287 49.2857 66.625 44.2586 66.625 38.5714V20.445L71.6387 19.1229C74.2056 18.4457 76 15.87 76 12.8571ZM62.875 38.5714C62.875 40.9393 57.25 45 46 45C34.75 45 29.125 40.9393 29.125 38.5714V21.435L44.7588 25.5579C45.1675 25.6629 45.5856 25.7143 46 25.7143C46.4144 25.7143 46.8325 25.6629 47.2638 25.5514L62.875 21.435V38.5714ZM46.4219 21.375C46.2812 21.4093 46.1406 21.4286 46 21.4286C45.8594 21.4286 45.7169 21.4093 45.5781 21.375L21.2031 14.9464C20.3519 14.7214 19.75 13.8557 19.75 12.8571C19.75 11.8586 20.3519 10.9929 21.2031 10.7679L45.5781 4.33929C45.7169 4.305 45.8575 4.28571 46 4.28571C46.1425 4.28571 46.2831 4.305 46.4219 4.33929L70.7969 10.7679C71.6463 10.9929 72.25 11.8586 72.25 12.8571C72.25 13.8557 71.6463 14.7214 70.7969 14.9464L46.4219 21.375ZM70.375 23.5714C70.375 22.3864 71.2131 21.4286 72.25 21.4286C73.285 21.4286 74.125 22.3864 74.125 23.5714V42.8571C74.125 44.0421 73.285 45 72.25 45C71.2131 45 70.375 44.0421 70.375 42.8571V23.5714ZM72.25 47.1429C74.32 47.1429 76 53.3486 76 55.7143C76 58.08 74.32 60 72.25 60C70.1781 60 68.5 58.08 68.5 55.7143C68.5 53.3486 70.1781 47.1429 72.25 47.1429Z" fill="#2259C5"/>
					<path d="M7.44922 69.0264C7.44922 69.9932 7.1001 70.7549 6.40186 71.3115C5.7085 71.8682 4.7417 72.1465 3.50146 72.1465C2.35889 72.1465 1.34814 71.9316 0.469238 71.502V69.3926C1.19189 69.7148 1.80225 69.9419 2.30029 70.0737C2.80322 70.2056 3.26221 70.2715 3.67725 70.2715C4.17529 70.2715 4.55615 70.1763 4.81982 69.9858C5.08838 69.7954 5.22266 69.5122 5.22266 69.1362C5.22266 68.9263 5.16406 68.7407 5.04688 68.5796C4.92969 68.4136 4.75635 68.2549 4.52686 68.1035C4.30225 67.9521 3.84082 67.7104 3.14258 67.3784C2.48828 67.0708 1.99756 66.7754 1.67041 66.4922C1.34326 66.209 1.08203 65.8794 0.886719 65.5034C0.691406 65.1274 0.59375 64.688 0.59375 64.1851C0.59375 63.2378 0.913574 62.4932 1.55322 61.9512C2.19775 61.4092 3.08643 61.1382 4.21924 61.1382C4.77588 61.1382 5.30566 61.2041 5.80859 61.3359C6.31641 61.4678 6.84619 61.6533 7.39795 61.8926L6.66553 63.6577C6.09424 63.4233 5.62061 63.2598 5.24463 63.167C4.87354 63.0742 4.50732 63.0278 4.146 63.0278C3.71631 63.0278 3.38672 63.1279 3.15723 63.3281C2.92773 63.5283 2.81299 63.7896 2.81299 64.1118C2.81299 64.312 2.85938 64.4878 2.95215 64.6392C3.04492 64.7856 3.19141 64.9297 3.3916 65.0713C3.59668 65.208 4.07764 65.457 4.83447 65.8184C5.83545 66.2969 6.52148 66.7778 6.89258 67.2612C7.26367 67.7397 7.44922 68.3281 7.44922 69.0264ZM12.5396 72.1465C9.99072 72.1465 8.71631 70.7476 8.71631 67.9497C8.71631 66.5581 9.06299 65.4961 9.75635 64.7637C10.4497 64.0264 11.4434 63.6577 12.7373 63.6577C13.6846 63.6577 14.5342 63.8433 15.2861 64.2144L14.627 65.9429C14.2754 65.8013 13.9482 65.6865 13.6455 65.5986C13.3428 65.5059 13.04 65.4595 12.7373 65.4595C11.5752 65.4595 10.9941 66.2847 10.9941 67.9351C10.9941 69.5366 11.5752 70.3374 12.7373 70.3374C13.167 70.3374 13.5649 70.2812 13.9312 70.1689C14.2974 70.0518 14.6636 69.8711 15.0298 69.627V71.5386C14.6685 71.7681 14.3022 71.9268 13.9312 72.0146C13.5649 72.1025 13.1011 72.1465 12.5396 72.1465ZM24.4927 72H22.2588V67.2173C22.2588 66.0356 21.8193 65.4448 20.9404 65.4448C20.3154 65.4448 19.8638 65.6572 19.5854 66.082C19.3071 66.5068 19.168 67.1953 19.168 68.1475V72H16.9341V60.6035H19.168V62.9253C19.168 63.106 19.1509 63.5308 19.1167 64.1997L19.0654 64.8589H19.1826C19.6807 64.0581 20.4717 63.6577 21.5557 63.6577C22.5176 63.6577 23.2476 63.9165 23.7456 64.4341C24.2437 64.9517 24.4927 65.6938 24.4927 66.6606V72ZM28.5723 67.8911C28.5723 68.7017 28.7041 69.3145 28.9678 69.7295C29.2363 70.1445 29.6709 70.3521 30.2715 70.3521C30.8672 70.3521 31.2944 70.147 31.5532 69.7368C31.8169 69.3218 31.9487 68.7065 31.9487 67.8911C31.9487 67.0806 31.8169 66.4727 31.5532 66.0674C31.2896 65.6621 30.8574 65.4595 30.2568 65.4595C29.6611 65.4595 29.2314 65.6621 28.9678 66.0674C28.7041 66.4678 28.5723 67.0757 28.5723 67.8911ZM34.2339 67.8911C34.2339 69.2241 33.8823 70.2666 33.1792 71.0186C32.4761 71.7705 31.4971 72.1465 30.2422 72.1465C29.4561 72.1465 28.7627 71.9756 28.1621 71.6338C27.5615 71.2871 27.1001 70.7915 26.7778 70.147C26.4556 69.5024 26.2944 68.7505 26.2944 67.8911C26.2944 66.5532 26.6436 65.5132 27.3418 64.771C28.04 64.0288 29.0215 63.6577 30.2861 63.6577C31.0723 63.6577 31.7656 63.8286 32.3662 64.1704C32.9668 64.5122 33.4282 65.0029 33.7505 65.6426C34.0728 66.2822 34.2339 67.0317 34.2339 67.8911ZM38.3135 72H36.0796V60.6035H38.3135V72ZM45.8647 72L45.4326 70.8867H45.374C44.998 71.3604 44.6099 71.6899 44.2095 71.8755C43.814 72.0562 43.2964 72.1465 42.6567 72.1465C41.8706 72.1465 41.2505 71.9219 40.7964 71.4727C40.3472 71.0234 40.1226 70.3838 40.1226 69.5537C40.1226 68.6846 40.4253 68.0449 41.0308 67.6348C41.6411 67.2197 42.5591 66.9902 43.7847 66.9463L45.2056 66.9023V66.5435C45.2056 65.7134 44.7808 65.2983 43.9312 65.2983C43.2769 65.2983 42.5078 65.4961 41.624 65.8916L40.8843 64.3828C41.8267 63.8896 42.8716 63.6431 44.019 63.6431C45.1177 63.6431 45.96 63.8823 46.5459 64.3608C47.1318 64.8394 47.4248 65.5669 47.4248 66.5435V72H45.8647ZM45.2056 68.2061L44.3413 68.2354C43.6919 68.2549 43.2085 68.3721 42.8911 68.5869C42.5737 68.8018 42.415 69.1289 42.415 69.5684C42.415 70.1982 42.7764 70.5132 43.499 70.5132C44.0166 70.5132 44.4292 70.3643 44.7368 70.0664C45.0493 69.7686 45.2056 69.373 45.2056 68.8799V68.2061ZM54.3022 63.6577C54.605 63.6577 54.8564 63.6797 55.0566 63.7236L54.8882 65.8184C54.7075 65.7695 54.4878 65.7451 54.229 65.7451C53.5161 65.7451 52.9595 65.9282 52.5591 66.2944C52.1636 66.6606 51.9658 67.1733 51.9658 67.8325V72H49.7319V63.8115H51.4238L51.7534 65.1885H51.8633C52.1172 64.7295 52.459 64.3608 52.8887 64.0825C53.3232 63.7993 53.7944 63.6577 54.3022 63.6577ZM62.2563 69.5684C62.2563 70.4082 61.9634 71.0479 61.3774 71.4873C60.7964 71.9268 59.9248 72.1465 58.7627 72.1465C58.167 72.1465 57.6592 72.105 57.2393 72.022C56.8193 71.9438 56.4263 71.8267 56.0601 71.6704V69.8247C56.4751 70.02 56.9414 70.1836 57.459 70.3154C57.9814 70.4473 58.4404 70.5132 58.8359 70.5132C59.6465 70.5132 60.0518 70.2788 60.0518 69.8101C60.0518 69.6343 59.998 69.4927 59.8906 69.3853C59.7832 69.2729 59.5977 69.1484 59.334 69.0117C59.0703 68.8701 58.7188 68.7065 58.2793 68.521C57.6494 68.2573 57.1855 68.0132 56.8877 67.7886C56.5947 67.564 56.3799 67.3076 56.2432 67.0195C56.1113 66.7266 56.0454 66.3677 56.0454 65.9429C56.0454 65.2153 56.3262 64.6538 56.8877 64.2583C57.4541 63.8579 58.2549 63.6577 59.29 63.6577C60.2764 63.6577 61.2358 63.8726 62.1685 64.3022L61.4946 65.9136C61.0845 65.7378 60.7012 65.5938 60.3447 65.4814C59.9883 65.3691 59.6245 65.313 59.2534 65.313C58.5942 65.313 58.2646 65.4912 58.2646 65.8477C58.2646 66.0479 58.3696 66.2212 58.5796 66.3677C58.7944 66.5142 59.2607 66.7314 59.9785 67.0195C60.6182 67.2783 61.0869 67.52 61.3848 67.7446C61.6826 67.9692 61.9023 68.228 62.0439 68.521C62.1855 68.814 62.2563 69.1631 62.2563 69.5684ZM71.5581 72H69.3242V67.2173C69.3242 66.0356 68.8848 65.4448 68.0059 65.4448C67.3809 65.4448 66.9292 65.6572 66.6509 66.082C66.3726 66.5068 66.2334 67.1953 66.2334 68.1475V72H63.9995V60.6035H66.2334V62.9253C66.2334 63.106 66.2163 63.5308 66.1821 64.1997L66.1309 64.8589H66.248C66.7461 64.0581 67.5371 63.6577 68.6211 63.6577C69.583 63.6577 70.313 63.9165 70.811 64.4341C71.3091 64.9517 71.5581 65.6938 71.5581 66.6606V72ZM73.7627 61.6948C73.7627 60.9673 74.168 60.6035 74.9785 60.6035C75.7891 60.6035 76.1943 60.9673 76.1943 61.6948C76.1943 62.0415 76.0918 62.3125 75.8867 62.5078C75.6865 62.6982 75.3838 62.7935 74.9785 62.7935C74.168 62.7935 73.7627 62.4272 73.7627 61.6948ZM76.0918 72H73.8579V63.8115H76.0918V72ZM82.9399 72.1465C81.978 72.1465 81.2236 71.7974 80.6768 71.0991H80.5596C80.6377 71.7827 80.6768 72.1782 80.6768 72.2856V75.6035H78.4429V63.8115H80.2593L80.5742 64.8735H80.6768C81.1992 64.063 81.9731 63.6577 82.9985 63.6577C83.9653 63.6577 84.7222 64.0312 85.269 64.7783C85.8159 65.5254 86.0894 66.563 86.0894 67.8911C86.0894 68.7651 85.96 69.5244 85.7012 70.1689C85.4473 70.8135 85.0835 71.3042 84.6099 71.6411C84.1362 71.978 83.5796 72.1465 82.9399 72.1465ZM82.2808 65.4448C81.729 65.4448 81.3262 65.6157 81.0723 65.9575C80.8184 66.2944 80.6865 66.8535 80.6768 67.6348V67.8765C80.6768 68.7554 80.8062 69.3853 81.0649 69.7661C81.3286 70.147 81.7437 70.3374 82.3101 70.3374C83.311 70.3374 83.8115 69.5122 83.8115 67.8618C83.8115 67.0562 83.687 66.4531 83.438 66.0527C83.1938 65.6475 82.8081 65.4448 82.2808 65.4448ZM93.6479 69.5684C93.6479 70.4082 93.355 71.0479 92.769 71.4873C92.188 71.9268 91.3164 72.1465 90.1543 72.1465C89.5586 72.1465 89.0508 72.105 88.6309 72.022C88.2109 71.9438 87.8179 71.8267 87.4517 71.6704V69.8247C87.8667 70.02 88.333 70.1836 88.8506 70.3154C89.373 70.4473 89.832 70.5132 90.2275 70.5132C91.0381 70.5132 91.4434 70.2788 91.4434 69.8101C91.4434 69.6343 91.3896 69.4927 91.2822 69.3853C91.1748 69.2729 90.9893 69.1484 90.7256 69.0117C90.4619 68.8701 90.1104 68.7065 89.6709 68.521C89.041 68.2573 88.5771 68.0132 88.2793 67.7886C87.9863 67.564 87.7715 67.3076 87.6348 67.0195C87.5029 66.7266 87.437 66.3677 87.437 65.9429C87.437 65.2153 87.7178 64.6538 88.2793 64.2583C88.8457 63.8579 89.6465 63.6577 90.6816 63.6577C91.668 63.6577 92.6274 63.8726 93.5601 64.3022L92.8862 65.9136C92.4761 65.7378 92.0928 65.5938 91.7363 65.4814C91.3799 65.3691 91.0161 65.313 90.645 65.313C89.9858 65.313 89.6562 65.4912 89.6562 65.8477C89.6562 66.0479 89.7612 66.2212 89.9712 66.3677C90.186 66.5142 90.6523 66.7314 91.3701 67.0195C92.0098 67.2783 92.4785 67.52 92.7764 67.7446C93.0742 67.9692 93.2939 68.228 93.4355 68.521C93.5771 68.814 93.6479 69.1631 93.6479 69.5684Z" fill="#2259C5"/>
					<path d="M103.734 61.3716C103.734 62.2017 103.385 62.7705 102.687 63.0781L104.422 66.0078H102.562L101.258 63.5322H100.914V66.0078H99.2368V59.2988H101.17C102.054 59.2988 102.701 59.4697 103.111 59.8115C103.526 60.1533 103.734 60.6733 103.734 61.3716ZM100.914 62.3018H101.141C101.463 62.3018 101.693 62.2334 101.83 62.0967C101.971 61.9551 102.042 61.7231 102.042 61.4009C102.042 61.0835 101.974 60.8589 101.837 60.7271C101.7 60.5952 101.463 60.5293 101.126 60.5293H100.914V62.3018ZM95.9922 62.646C95.9922 61.6694 96.2363 60.7539 96.7246 59.8994C97.2129 59.0449 97.8843 58.3711 98.7388 57.8779C99.5933 57.3848 100.514 57.1382 101.5 57.1382C102.477 57.1382 103.392 57.3823 104.247 57.8706C105.101 58.3589 105.775 59.0303 106.268 59.8848C106.761 60.7393 107.008 61.6597 107.008 62.646C107.008 63.6079 106.771 64.5112 106.297 65.356C105.824 66.2007 105.16 66.877 104.305 67.3848C103.451 67.8926 102.516 68.1465 101.5 68.1465C100.489 68.1465 99.5566 67.895 98.7021 67.3921C97.8477 66.8843 97.1812 66.208 96.7026 65.3633C96.229 64.5186 95.9922 63.6128 95.9922 62.646ZM97.0322 62.646C97.0322 63.4468 97.2324 64.1938 97.6328 64.8872C98.0332 65.5757 98.5801 66.1201 99.2734 66.5205C99.9668 66.916 100.709 67.1138 101.5 67.1138C102.301 67.1138 103.045 66.9136 103.734 66.5132C104.427 66.1128 104.972 65.5659 105.367 64.8726C105.768 64.1792 105.968 63.437 105.968 62.646C105.968 61.8452 105.768 61.1006 105.367 60.4121C104.967 59.7188 104.42 59.1743 103.727 58.7788C103.033 58.3784 102.291 58.1782 101.5 58.1782C100.699 58.1782 99.9521 58.3784 99.2588 58.7788C98.5703 59.1792 98.0259 59.7261 97.6255 60.4194C97.23 61.1128 97.0322 61.855 97.0322 62.646Z" fill="#2259C5"/>
					</svg>
			  </div>
			  <div class=" header-input-center">
				<div class="wrap-input1 w-full p-b-4 mb-3">
				  <input class="input1 border-input  " type="text" placeholder="Search Country, University........">
				  <span></span>
				</div>
			  </div>
			</div>

			  <div class="header-content form-group">
				<% if (!isAuthenticated) { %>
				  <div class="p-t-18 banner-button  ">
					  <button class="button-banner flex-c-m stext-101 cl0 size-103  borcustom " onclick="window.location.href='/login'" >
						Login
					  </button>
					</div>
					<div class="p-t-18 banner-button ">
						<button class="button-banner flex-c-m stext-101 cl0 size-103  borcustom  " onclick="window.location.href='/signup'">
						 Sign up
						</button>
					</div>
				<% } else { %>
					<div class="header-left">
						<div class="header-login">
							<div class="p-t-18 banner-button ">
								<div class="dropdown for-notification">
									<button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="fa fa-bell"></i>
										<span class="count bg-danger">3</span>
									</button>
								  
								</div>
							</div>
							<div class="p-t-18 banner-button ">
								<div class="dropdown for-notification">
									<button class="btn btn-secondary dropdown-toggle" type="button" id="message" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="fa fa-envelope"></i>
										<span class="count bg-primary">4</span>
									</button>
								</div>
							</div>
						
							<div class="p-t-18 banner-button ">
								<form method="POST" action="/logout" style="display: flex;">
									<button type="submit" class="dropdown-toggle active"  style="
									display: flex;
									align-items: center;
									width: 45px;
									">
										<img class="user-avatar rounded-circle" src="images/avatar.jpg" alt="User Avatar" style="
										height: 36px;
										width: 46px;
									">
									</button>
								</form>
							</div>
					
						</div>
					</div>
						
				<% } %>
			  </div>
			</div>
			</header>
	
		  </div>
		</div>