<div id="mainPage" class="clear-fix">
		<!--Header-->
		<div class="container-fluid">
		  <div class="wpb-wapper heade">
			<header class=" clear-fix fix-width ">
			<div class="row">
			<div class="header-content  col-sm-4 col-md-8 col-lg-8">
			  <div>
				<a href="/" class="logo"><img src="images/logo04.jpg"></a>
			  </div>
			  <div class=" header-input-center">
				<div class="wrap-input1 w-full p-b-4 mb-3">
				  <input class="input1 border-input  " type="text" placeholder="Search Country, University........">
				  <span></span>
				</div>
			  </div>
			</div>
			  <div class="header-content form-group">
				  <div class="p-t-18 banner-button  ">
					  <button class="button-banner flex-c-m stext-101 cl0 size-103  bor1 " onclick="window.location.href='/login'" >
						Login
					  </button>
					</div>
					<div class="p-t-18 banner-button ">
						<button class="button-banner flex-c-m stext-101 cl0 size-103  bor1  " onclick="window.location.href='/signup'">
						 Sign up
						</button>
					  </div>
			  </div>
			</div>
			</header>
	
		  </div>
		</div>