
<body>
        <div id="myCarousel" class="carousel slide " data-ride="carousel">
                <div class="container p-t-0 m-t-2 carousel-inner">
                   <div class="row row-equal carousel-item active m-t-0">
                        <div class="container card-view">
                                <div class="row justify-content-center">
                                  
                                        <div class="col-mad-4">
                                                <div class="card shadow" style="width: 20rem; height: 450px;">
                                                    <div class="inner">
                                                            <img src="images/university-columbia.jpg" height="210px" class="card-img-top" alt="...">
                                                    </div>
                                                        <div class="card-body text-center"  >
                                                          <h5 class="card-title"><strong>Columbia University</strong></h5>
                                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                          <a href="#" class="btn" style="background-color: #fe9b12; color: white">Apply now</a>
                                                        </div>
                                                      </div>
                                            </div>
                                        <div class="col-mad-4">
                                            <div class="card shadow" style="width: 20rem; height: 450px;">
                                                <div class="inner">
                                                        <img src="images/university-stanford.jpg" height="210px" class="card-img-top" alt="...">
                                                </div>
                                                    <div class="card-body text-center"  >
                                                      <h5 class="card-title"><strong>Stanford University</strong></h5>
                                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                      <a href="#" class="btn" style="background-color: #fe9b12; color: white">Apply now</a>
                                                    </div>
                                                  </div>
                                        
                                        </div>

                                </div>
                            </div>
                   </div>
                   <div class="carousel-item">
                        <div class="container card-view">
                                <div class="row justify-content-center">
                                    
                                    <div class="col-mad-4">
                                            <div class="card shadow" style="width: 20rem; height: 450px;">
                                                <div class="inner">
                                                        <img src="images/university-cambridge.jpg" height="210px" class="card-img-top" alt="...">
                                                </div>
                                                    <div class="card-body text-center"  >
                                                      <h5 class="card-title"><strong>University of Cambridge</strong></h5>
                                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                      <a href="#" class="btn" style="background-color: #fe9b12; color: white">Apply now</a>
                                                    </div>
                                                  </div>
                                        </div>
                          
                                        <div class="col-mad-4">
                                                <div class="card shadow" style="width: 20rem; height: 450px;">
                                                    <div class="inner">
                                                            <img src="images/university-harvard03.jpg" class="card-img-top" alt="...">
                                                    </div>
                                                        <div class="card-body text-center"  >
                                                          <h5 class="card-title"><strong>Harvard University</strong></h5>
                                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                          <a href="#" class="btn" style="background-color: #fe9b12; color: white">Apply now</a>
                                                        </div>
                                                    </div>
                                                
                                        </div>
                                </div>
                            </div>
                 
                   </div>
                   <div class="carousel-item">
                        <div class="container card-view">
                                <div class="row justify-content-center">
                                        <div class="col-mad-4">
                                                <div class="card shadow" style="width: 20rem; height: 450px;">
                                                    <div class="inner">
                                                            <img src="images/university-yale.jpg" height="210px" class="card-img-top" alt="...">
                                                    </div>
                                                        <div class="card-body text-center"  >
                                                          <h5 class="card-title"><strong>Yale University</strong></h5>
                                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                          <a href="#" class="btn" style="background-color: #fe9b12; color: white">Apply now</a>
                                                        </div>
                                                      </div>
                                            </div>
                          
                                            <div class="col-mad-4">
                                                    <div class="card shadow" style="width: 20rem; height: 450px;">
                                                        <div class="inner">
                                                                <img src="images/university-ucla.jpg" height="210px" class="card-img-top" alt="...">
                                                        </div>
                                                            <div class="card-body text-center"  >
                                                              <h5 class="card-title"><strong>University of California, Los Angeles</strong></h5>
                                                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                              <a href="#" class="btn" style="background-color: #fe9b12; color: white">Apply now</a>
                                                            </div>
                                                          </div>
                                                </div>
                                </div>
                            </div>
                 
                   </div>
                   <div class="carousel-item">
                        <div class="container card-view">
                                <div class="row justify-content-center">
                                   
                                        <div class="col-mad-4">
                                                <div class="card shadow" style="width: 20rem; height: 450px;">
                                                    <div class="inner">
                                                            <img src="images/university-uc.jpg" height="210px" class="card-img-top" alt="...">
                                                    </div>
                                                        <div class="card-body text-center"  >
                                                          <h5 class="card-title"><strong>University of California, Berkeley</strong></h5>
                                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                          <a href="#" class="btn" style="background-color: #fe9b12; color: white">Apply now</a>
                                                        </div>
                                                      </div>
                                            </div>
                                            <div class="col-mad-4">
                                                <div class="card shadow" style="width: 20rem; height: 450px;">
                                                    <div class="inner">
                                                            <img src="images/university-ucla.jpg" height="210px" class="card-img-top" alt="...">
                                                    </div>
                                                        <div class="card-body text-center"  >
                                                          <h5 class="card-title"><strong>University of California, Los Angeles</strong></h5>
                                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                          <a href="#" class="btn" style="background-color: #fe9b12; color: white">Apply now</a>
                                                        </div>
                                                      </div>
                                            </div>
                                </div>
                            </div>
                            
                   </div>
                   </div>
                   <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true" style="vertical-align: center; ;background-color: tomato"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true" style="background-color:tomato"></span>
                        <span class="sr-only">Next</span>
                      </a>
                </div>
                <!-- Controls -->
             
             </div>

          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
