  
    <div style="margin-left: 136px">
        <ul class="major-branch-pagination">
            <li>
                <a class="text-pagination flex-center" style="color: white;background:#4776fc">1</a>
            </li>
            <li>
                <a class="text-pagination flex-center" style="color: #999">2</a>
            </li>
            <li>
                <a class="text-pagination flex-center" style="color: #999">3</a>
            </li>
            <li>
                <a class="text-pagination flex-center" style="color: #999">4</a>
            </li>
            <li>
                <a class="text-pagination flex-center" style="color: #999">5</a>
            </li>
            <li>
                <a class="text-pagination flex-center" style="color: #999">6</a>
            </li>
            <li>
                <a class="text-pagination flex-center" style="color: #999">7</a>
            </li>
            <li>
                <a class="text-pagination flex-center" style="color: #999">8</a>
            </li>
            <li>
                <a class="text-pagination flex-center" style="color: #999">9</a>
            </li>
            <li>
                <a class="text-pagination flex-center" style="display:flex;justify-content:center;color: #999">10</a>
            </li>
            <li>
                <a class="text-pagination flex-center" style="color: #999">...</a>
            </li>
            <li>
                <a class="text-pagination flex-center" style="color: #999">></a>
            </li>
            <li>
                <a class="text-pagination " style=" display:flex;justify-content:center;color: #999">>></a>
            </li>
        </ul>
    </div>