<!DOCTYPE html>
<%- include('./includes/head.ejs') -%>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Home</title>
</head>

<body>
  <div id="mainPage" class="clear-fix">
    <!--Header-->
    <%- include('./includes/header.ejs') -%>
    <!--Menu-->
    <%- include('./includes/menu.ejs') -%>
  <!--Banner-->
  <div class="">
    <div class="detail-banner-image detail-banner">
      <div class="detail-banner-right">
      <h2 class="detail-banner-text" style="text-align:center">Article Scholarships</h2>
      </div>

   
  </div>
  </div>

    <!--Elements Content-->
    <div class="flex-w flex-sb-m p-b-20 container-fluid p-t-20">	
              <div class="content-transform m-tb-10 ">          
                <div class="itemContent ">
                      <h3 class="">Articles</h3>
                      
                         
                </div>         
            </div>
            </div>

  <!--Content-->
       
  <div class="flex-w flex-sb-m p-b-52 container-fluid">
        <div class="row">
            <div >
                <div class="col-md-8" style="margin-left: 50px">
                    <ul class="media-list">
                        <li class="media mb-3">
                               
                                <div class="media-Left">
                                        <img class="mr-3" src="images/news-01.jpg" alt="Generic placeholder image">                                     
                                </div>
                                <div class="media-body">
                                        <div>
                                          <div  class="btn article-element" style="background-color: #91D45B; color: white"><div class="article-text-element">Financial Aid</div></div>
                                        </div>
                                    <h2 class="media-heading" style="font-size: 25px; color: black"><a href="/articledetail"style=" color: black">$43M in Loans Forgiven for Students of Closed Colleges</a></h2>
                                    <p class="mb-3" style="color: black; opacity: 0.3;">September 6, 2019 9:18 AM</p>
                                    <p class="mb-3" style="color: black; opacity: 0.8;">The federal government discharged more than $43 million in student loan debt for former students of recently closed for-profit colleges. Students who attended programs operated by Education</p>
                                  
                                  </div>
                        </li>
                            <div class="news-border"></div>
  
                        <li class="media">
                                <div class="media-Left">
                                        <img class="mr-3" src="images/news-03.jpg" alt="Generic placeholder image">                                     
                                </div>
                                <div class="media-body ">
                                    <div>
                                        <div  class="btn article-element" style="background-color: #91D45B; color: white"><div class="article-text-element">Financial Aid</div></div>
                                      </div>
                                        
                                     <h2 class="media-heading" style="font-size: 25px; color: black"><a href="/articledetail"style=" color: black">Parents Giving Up Guardianship for College Cash? </a></h2>
                                        <p class="mb-3" style="color: black; opacity: 0.3;">July 30, 2019 9:24 AM</p>
                                        <p class="mb-3" style="color: black; opacity: 0.8;">Dozens of suburban Chicago families have been using a legal loophole to help their children get need-based college financial aid and scholarships. By their parents' forfeiting legal guardianship,</p>
                                     
                                      </div>
                        </li>
                        <div class="news-border border"></div>
  
                        <li class="media mb-3">
                            <div class="media-Left ">
                                    <img class="mr-3" src="images/news-02.jpg" alt="Generic placeholder image">                                     
                            </div>
                            <div class="media-body">
                                <div>
                                    <div  class="btn article-element" style="background-color: #91D45B; color: white"><div class="article-text-element">Financial Aid</div></div>
                                  </div>
                                <h2 class="media-heading" style="font-size: 25px; color: black"><a href="/articledetail"style=" color: black">Carpenter Comps College Costs for 33 Iowans</a></h2>
                                <p class="mb-3" style="color: black; opacity: 0.3;">July 23, 2019 3:50 PM</p>
                                <p class="mb-3" style="color: black; opacity: 0.8;">An Iowa Carpenter sent 33 Iowan students he'd never met to college with the $3 million he had in savings.</p>
                              
                              </div>
                    </li>
                    
                    <div class="news-border border" ></div>
  
                    <li class="media">
                       
                            <div class="media-Left ">
                                    <img class="mr-3" src="images/news-03.jpg" alt="Generic placeholder image">                                     
                            </div>
                            <div class="media-body ">
                                <div>
                                    <div  class="btn article-element" style="background-color: #91D45B; color: white"><div class="article-text-element">Financial Aid</div></div>
                                  </div>
                                <h2 class="media-heading" style="font-size: 25px; color: black"><a href="/articledetail"style=" color: black">Proposed Pell Grant Expansion for Short-Term Training Programs</a></h2>
                                    <p class="mb-3" style="color: black; opacity: 0.3;">July 30, 2019 9:24 AM</p>
                                    <p class="mb-3" style="color: black; opacity: 0.8;">Lawmakers are considering extending Pell Grants to people who pursue short-term training in order to land better jobs, faster. Federal student aid in the form of Pell Grants can currently be used for</p>
                                
                                  </div>
                    </li>
                    <div class="news-border border"></div>
  
                                
                      </ul>
                </div>              
                
            </div>           
        </div>
    </div>
        
  </div>
</body>


<div class="footer-content">
        <%- include('./includes/footer.ejs') -%>
      </div>