<!DOCTYPE html>
<%- include('./includes/head.ejs') -%>
<%- include('./includes/header.ejs') -%>
<head lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <title>Home</title>
  </head>
  <body>

    <div id="mainPage" class="clear-fix">
      <!--Header-->
      <header class ="top-header clear-fix fix-width">       
      <a href="" class="logo"><img src="images/logo04.jpg" alt=""></a>
     
      <div class=" header-Left ">
        <nav>
          <ul>
              <li><a href="/">home</a></li>
              <li><a href="/aboutus">about us▿</a></li>
              <li><a href="/courses">courses▿</a></li>
              <li><a href="/news">news▿</a></li>
              <li><a href="/guide">guide▿</a></li>
              <li><a href="/contact">contact us▿</a></li>
          </ul>
        </nav>
      </div>
      <div class=" header-input-center">
          <div class="wrap-input1 w-full p-b-4">

                <input class="input1 border-input  " type="text"  placeholder="Search Country, University........">
                <span></span>
               
          </div>
        </div>
       
      </header>
    </div>
   <!--Banner-->
      <div class="container-fluid">     
        <div class="banner-about">
            <h2>Country Scholarships</h2>
            <h3>We have many offer for you</h3>
            
            
          
          </div>
      </div>
      <!--Content-->
       
     <section id="textContent" class="clear-fix fix-width  container-fluid" style="margin-top:2%">
        <div class="container-fluid">
            <div class="wpb-wapper ">
              
                <div class="itemContent tranform01 ">
                  <h2 class="content-transform">Scholarships For you</h2>
                </div>
            </div>
            
            <div class="flex-w flex-sb-m p-b-52 container-fluid">		
                <div class="content-transform m-tb-10 content-margin01">
                    
                    <button class="stext-106  m-r-32">
                        <div class="content-margin">
                            <a href="/" style="color: black"> All Scholarships</a> </div>
                    </button>
                    <button class="stext-106   m-r-32 m-tb-5" >
                        <div class="content-margin-elements">
                         <a href="/countryscholarships" style="color: black">Country Scholarships</a> 
                        </div>
                    </button>
                    <button class="stext-106  m-r-32 m-tb-5">
                        <div class="content-margin-elements">
                          <a href="/universityscholarships" style="color: black">University Scholarships</a> 
                        </div>
                    </button>
                </div>
            </div>
        </div>
       
  
        <!--Elements Content-->
     
       </section>
      <div class="flex-w flex-sb-m p-b-52 container-fluid">		
        <div class="content-transform m-tb-10 header-margin ">          
            <div class="itemContent  ">
              <h5 class="">Country Scholarships</h5>
              <div class="border-margin"></div>

              
            </div>     
             
        </div>      
        <section id="textContent" class="clear-fix fix-width">
          <div class="">
        <div class="container card-view">
          <div class="row justify-content-center">
              <div class="col-mad-4">
                      <div class="card shadow" style="width: 20rem; height: 450px;">
                          <div class="inner">
                                  <img src="images/logousa.jpg" class="card-img-top" alt="...">
                          </div>
                              <div class="card-body text-center"  >
                                <h5 class="card-title"><strong>United States</strong></h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn" style="background-color: #fe9b12; color: white">Apply now</a>
                              </div>
                          </div>
                      
              </div>
              <div class="col-mad-4">
                  <div class="card shadow" style="width: 20rem; height: 450px;">
                      <div class="inner">
                              <img src="images/UK.jpg" height="210px" class="card-img-top" alt="...">
                      </div>
                          <div class="card-body text-center"  >
                            <h5 class="card-title"><strong>United Kingdom</strong></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn" style="background-color: #fe9b12; color: white">Apply now</a>
                          </div>
                        </div>
              
              </div>
              
              <div class="col-mad-4">
                  <div class="card shadow" style="width: 20rem; height: 450px;">
                      <div class="inner">
                              <img src="images/canada.jpg" height="210px" class="card-img-top" alt="...">
                      </div>
                          <div class="card-body text-center"  >
                            <h5 class="card-title"><strong>Canada</strong></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn" style="background-color: #fe9b12; color: white">Apply now</a>
                          </div>
                        </div>
              </div>

              <div class="col-mad-4">
                  <div class="card shadow" style="width: 20rem; height: 450px;">
                      <div class="inner">
                              <img src="images/flag-singapore.jpg" height="210px" class="card-img-top" alt="...">
                      </div>
                          <div class="card-body text-center"  >
                            <h5 class="card-title"><strong>Singapore</strong></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn" style="background-color: #fe9b12; color: white">Apply now</a>
                          </div>
                        </div>
              </div>

              <div class="col-mad-4">
                  <div class="card shadow" style="width: 20rem; height: 450px;">
                      <div class="inner">
                              <img src="images/flag-turkey.jpg" height="210px" class="card-img-top" alt="...">
                      </div>
                          <div class="card-body text-center"  >
                            <h5 class="card-title"><strong>Turkey</strong></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn" style="background-color: #fe9b12; color: white">Apply now</a>
                          </div>
                        </div>
              </div>

              <div class="col-mad-4">
                  <div class="card shadow" style="width: 20rem; height: 450px;">
                      <div class="inner">
                              <img src="images/flag-switzerland.jpg" height="210px" class="card-img-top" alt="...">
                      </div>
                          <div class="card-body text-center"  >
                            <h5 class="card-title"><strong>Switzerland</strong></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn" style="background-color: #fe9b12; color: white">Apply now</a>
                          </div>
                        </div>
              </div>
              <div class="col-mad-4">
                  <div class="card shadow" style="width: 20rem; height: 450px;">
                      <div class="inner">
                              <img src="images/flag-Netherlands.jpg" height="210px" class="card-img-top" alt="...">
                      </div>
                          <div class="card-body text-center"  >
                            <h5 class="card-title"><strong>Netherlands</strong></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn" style="background-color: #fe9b12; color: white">Apply now</a>
                          </div>
                        </div>
              </div>
              <div class="col-mad-4">
                  <div class="card shadow" style="width: 20rem; height: 450px;">
                      <div class="inner">
                              <img src="images/flag-germany.jpg" height="210px" class="card-img-top" alt="...">
                      </div>
                          <div class="card-body text-center"  >
                            <h5 class="card-title"><strong>Germany</strong></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn" style="background-color: #fe9b12; color: white">Apply now</a>
                          </div>
                        </div>
              </div>
              <div class="col-mad-4">
                  <div class="card shadow" style="width: 20rem; height: 450px;">
                      <div class="inner">
                              <img src="images/flag-france.jpg" height="210px" class="card-img-top" alt="...">
                      </div>
                          <div class="card-body text-center"  >
                            <h5 class="card-title"><strong>France</strong></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn" style="background-color: #fe9b12; color: white">Apply now</a>
                          </div>
                        </div>
              </div>
             
          </div>
        </div>
          </section>
      </div>
        <!--Details-->
        <a href="#" class="btn " style="background-color: #e66910; color: white; width: 200px; margin-left: 45% ">Show more...</a>                      
  
    </div>

 
    </div>
    
    <div class="footer">
    <%- include('./includes/footer.ejs') -%>
    </div>
    <%- include('./includes/end.ejs') -%>
</html>