<!DOCTYPE html>
<%- include('./includes/head.ejs') -%>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Home</title>
</head>

<body>
  <div id="mainPage" class="clear-fix">
    <!--Header-->
    <%- include('./includes/header.ejs') -%>
    <!--Menu-->
    <%- include('./includes/menu.ejs') -%>
  <!--Banner-->
  <div class="">
    <div class="detail-banner-image detail-banner">
      <div class="detail-banner-right">
      <h2 class="detail-banner-text" style="text-align:center">Education Matters Scholarship</h2>
      </div>
      <div class="detail-banner-frame">
            <h5 class="detail-banner-frame-text" style="text-align:center">EDUCATION MATTERS SCHOLARSHIP</h5>
            <div class="detail-footer-element detail-banner-frame-content">
                <div class="detail-footer-element-image">
                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M30.0135 37.4999L21.7528 59.02L18.5172 51.7528L11.25 54.9883L19.4118 33.726C15.6056 30.6319 13.1738 25.9124 13.1738 20.625C13.1738 11.3052 20.729 3.75 30.0488 3.75C39.3686 3.75 46.9238 11.3052 46.9238 20.625C46.9238 25.9124 44.492 30.6319 40.6858 33.726L48.8476 54.9883L41.5804 51.7528L38.3449 59.02L30.0841 37.4999C30.0723 37.4999 30.0605 37.5 30.0487 37.5C30.037 37.5 30.0252 37.5 30.0134 37.4999H30.0135ZM28.0501 37.3829C25.472 37.0787 23.072 36.1932 20.9845 34.8613L14.6132 51.4592L19.458 49.3021L21.6151 54.1469L28.0502 37.3829H28.0501ZM39.1133 34.8613C37.0257 36.1932 34.6256 37.0787 32.0476 37.3829L38.4827 54.1469L40.6398 49.3021L45.4846 51.4592L39.1133 34.8613H39.1133ZM30.0489 35.625C38.3331 35.625 45.0489 28.9093 45.0489 20.625C45.0489 12.3407 38.3331 5.625 30.0489 5.625C21.7646 5.625 15.0489 12.3407 15.0489 20.625C15.0489 28.9093 21.7646 35.625 30.0489 35.625ZM30.0489 31.875C23.8356 31.875 18.7989 26.8382 18.7989 20.625C18.7989 14.4118 23.8356 9.375 30.0489 9.375C36.2621 9.375 41.2989 14.4118 41.2989 20.625C41.2989 26.8382 36.2621 31.875 30.0489 31.875ZM30.0489 30C35.2266 30 39.4239 25.8027 39.4239 20.625C39.4239 15.4473 35.2266 11.25 30.0489 11.25C24.8712 11.25 20.6739 15.4473 20.6739 20.625C20.6739 25.8027 24.8712 30 30.0489 30Z" fill="white"/>
                      </svg>
                       </div>
                <div class="detail-footer-element-content">
                  <strong style="color:white ;font-weight:500">AWARD AMOUNT</strong>
                  <div style="color:white">$5000</div>
                </div>
            </div>
            <div class="detail-footer-element detail-banner-frame-content">
                <div class="detail-footer-element-image ">
                    <svg width="61" height="60" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M20.8647 22.5H28.8647V30H20.8647V22.5ZM32.8647 22.5H40.8647V30H32.8647V22.5ZM44.8647 22.5H52.8647V30H44.8647V22.5ZM8.86475 45H16.8647V52.5H8.86475V45ZM20.8647 45H28.8647V52.5H20.8647V45ZM32.8647 45H40.8647V52.5H32.8647V45ZM20.8647 33.75H28.8647V41.25H20.8647V33.75ZM32.8647 33.75H40.8647V41.25H32.8647V33.75ZM44.8647 33.75H52.8647V41.25H44.8647V33.75ZM8.86475 33.75H16.8647V41.25H8.86475V33.75ZM52.8647 0V3.75H44.8647V0H16.8647V3.75H8.86475V0H0.864746V60H60.8647V0H52.8647ZM56.8647 56.25H4.86475V15H56.8647V56.25Z" fill="white"/>
                      <path d="M20.8647 22.5H28.8647V30H20.8647V22.5ZM32.8647 22.5H40.8647V30H32.8647V22.5ZM44.8647 22.5H52.8647V30H44.8647V22.5ZM8.86475 45H16.8647V52.5H8.86475V45ZM20.8647 45H28.8647V52.5H20.8647V45ZM32.8647 45H40.8647V52.5H32.8647V45ZM20.8647 33.75H28.8647V41.25H20.8647V33.75ZM32.8647 33.75H40.8647V41.25H32.8647V33.75ZM44.8647 33.75H52.8647V41.25H44.8647V33.75ZM8.86475 33.75H16.8647V41.25H8.86475V33.75ZM52.8647 0V3.75H44.8647V0H16.8647V3.75H8.86475V0H0.864746V60H60.8647V0H52.8647ZM56.8647 56.25H4.86475V15H56.8647V56.25Z" fill="url(#paint0_linear)"/>
                      <path d="M20.8647 22.5H28.8647V30H20.8647V22.5ZM32.8647 22.5H40.8647V30H32.8647V22.5ZM44.8647 22.5H52.8647V30H44.8647V22.5ZM8.86475 45H16.8647V52.5H8.86475V45ZM20.8647 45H28.8647V52.5H20.8647V45ZM32.8647 45H40.8647V52.5H32.8647V45ZM20.8647 33.75H28.8647V41.25H20.8647V33.75ZM32.8647 33.75H40.8647V41.25H32.8647V33.75ZM44.8647 33.75H52.8647V41.25H44.8647V33.75ZM8.86475 33.75H16.8647V41.25H8.86475V33.75ZM52.8647 0V3.75H44.8647V0H16.8647V3.75H8.86475V0H0.864746V60H60.8647V0H52.8647ZM56.8647 56.25H4.86475V15H56.8647V56.25Z" fill="url(#paint1_linear)"/>
                      <defs>
                      <linearGradient id="paint0_linear" x1="30.8647" y1="0" x2="30.8647" y2="60" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white"/>
                      <stop offset="1" stop-color="white" stop-opacity="0"/>
                      </linearGradient>
                      <linearGradient id="paint1_linear" x1="30.8647" y1="0" x2="30.8647" y2="60" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white"/>
                      <stop offset="1" stop-color="white" stop-opacity="0"/>
                      </linearGradient>
                      </defs>
                    </svg>
                  </div>
                <div class="detail-footer-element-content">
                  <strong style="color:white; font-weight:500">APPLICATION DEADLINE</strong>
                  <div style="color:white">November 30, 2019</div>
                </div>
            </div>
            <div class="p-t-18 banner-button">
                <button class="detail-button-banner flex-c-m stext-101 cl0 size-103  bor1 " style="width: 80%; margin-left:0px "  onclick="window.location.href='/apply'">
                 APLLY NOW
                </button>
            </div>
      </div>
   
  </div>
  </div>
  <!--Content-->
  <div class="detail-content">
    <div class="row">
        <div class="detail-content-element">
          
            <div class="detail-content-left col-sm-8 col-md-8 col-lg-8">
                <h3>WHY DOES EDUCATION MATTER TO YOU?</h3>
                <div>As a scholarship seeker, you're probably already well-aware of the importance of an education. But, what about the naysayers? Have you come across someone who's tried to talk you out of college, saying that it's not worth it?</div>
                <br>
                <div>
                    While continuing your education takes time, and money, there's a certain value that everyone is hoping to achieve. Our Education Matters Scholarship is giving you the chance to state why education matters. Why does education matter to you? What is the value you hope to receive from college? What would you do to convince the college cynics?
                </div>
                <br>
                <div>
                        Speaking up for education could lead to helping you pay for your own. One applicant will be awarded our $5,000 Education Matters Scholarship.
                </div>
                <br>
                <strong>Applicants must:</strong>
                <div>
                        * Be thirteen (13) years of age or older at the time of application 
                </div>
                <div>
                        * Be legal residents of the fifty (50) United States or the District of Columbia 
                </div>
                <div>
                        * Be currently enrolled (or enroll no later than the fall of 2025) in an accredited post-secondary institution of higher education
                </div>
                <br>
                <strong>Submit an online written response to the question:</strong>
                <div>
                        "What would you say to someone who thinks education doesn't matter, or that college is a waste of time and money?" (250 words or less) 
                </div>
                <br>
                <div>
                        The Education Matters Scholarship winner will be notified by email or phone on or around February 29, 2020.
                </div>
    
                <div class="detail-content-left-footer">
                    <div class="detail-footer-element">
                        <div class="detail-footer-element-image">
                            <svg width="60" height="52" viewBox="0 0 60 52" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M30 0.155701C13.4315 0.155701 0 11.6581 0 25.847C0 40.036 13.4315 51.5383 30 51.5383C46.5686 51.5383 60 40.036 60 25.847C60 11.6581 46.5686 0.155701 30 0.155701ZM30 46.4C16.7451 46.4 6 37.1981 6 25.847C6 14.4958 16.7451 5.29396 30 5.29396C43.2549 5.29396 54 14.4958 54 25.847C54 37.1981 43.2549 46.4 30 46.4ZM32 24.1342V17.2832H40V13.8577H32V10.4322H28V13.8577H20V27.5597H28V34.4107H20V37.8363H28V41.2618H32V37.8363H40.0001L40 24.1342H32ZM28 24.1342H24V17.2832H28V24.1342ZM36.0001 34.4107H32V27.5597H36.0001V34.4107Z" fill="#2259C5"/> </svg>
                        </div>
                        <div class="detail-footer-element-content">
                        <strong style="color:#5786E2">Application Status</strong>
                        <div>Not applied</div>
                        <strong style="color:#5786E2">Aplly now</strong>
                        </div>
                    </div>
                    <div class="detail-footer-element">
                        <div class="detail-footer-element-image">
                            <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M30.0135 36.4999L21.7528 58.02L18.5172 50.7528L11.25 53.9883L19.4118 32.726C15.6056 29.6319 13.1738 24.9124 13.1738 19.625C13.1738 10.3052 20.729 2.75 30.0488 2.75C39.3686 2.75 46.9238 10.3052 46.9238 19.625C46.9238 24.9124 44.492 29.6319 40.6858 32.726L48.8476 53.9883L41.5804 50.7528L38.3449 58.02L30.0841 36.4999C30.0723 36.4999 30.0605 36.5 30.0487 36.5C30.037 36.5 30.0252 36.5 30.0134 36.4999H30.0135ZM28.0501 36.3829C25.472 36.0787 23.072 35.1932 20.9845 33.8613L14.6132 50.4592L19.458 48.3021L21.6151 53.1469L28.0502 36.3829H28.0501ZM39.1133 33.8613C37.0257 35.1932 34.6256 36.0787 32.0476 36.3829L38.4827 53.1469L40.6398 48.3021L45.4846 50.4592L39.1133 33.8613H39.1133ZM30.0489 34.625C38.3331 34.625 45.0489 27.9093 45.0489 19.625C45.0489 11.3407 38.3331 4.625 30.0489 4.625C21.7646 4.625 15.0489 11.3407 15.0489 19.625C15.0489 27.9093 21.7646 34.625 30.0489 34.625ZM30.0489 30.875C23.8356 30.875 18.7989 25.8382 18.7989 19.625C18.7989 13.4118 23.8356 8.375 30.0489 8.375C36.2621 8.375 41.2989 13.4118 41.2989 19.625C41.2989 25.8382 36.2621 30.875 30.0489 30.875ZM30.0489 29C35.2266 29 39.4239 24.8027 39.4239 19.625C39.4239 14.4473 35.2266 10.25 30.0489 10.25C24.8712 10.25 20.6739 14.4473 20.6739 19.625C20.6739 24.8027 24.8712 29 30.0489 29Z" fill="#1CE047"/>
                              </svg>
                               </div>
                        <div class="detail-footer-element-content">
                          <strong style="color:#62CF59">AWARD AMOUNT</strong>
                          <div>$5000</div>
                        </div>
                    </div>
                    
                    <div class="detail-footer-element">
                        <div class="detail-footer-element-image">
                            <svg width="60" height="52" viewBox="0 0 60 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M20 19.7114H28V26.1343H20V19.7114ZM32 19.7114H40V26.1343H32V19.7114ZM44 19.7114H52V26.1343H44V19.7114ZM8 38.9799H16V45.4027H8V38.9799ZM20 38.9799H28V45.4027H20V38.9799ZM32 38.9799H40V45.4027H32V38.9799ZM20 29.3457H28V35.7685H20V29.3457ZM32 29.3457H40V35.7685H32V29.3457ZM44 29.3457H52V35.7685H44V29.3457ZM8 29.3457H16V35.7685H8V29.3457ZM52 0.442993V3.6544H44V0.442993H16V3.6544H8V0.442993H0V51.8255H60V0.442993H52ZM56 48.6141H4V13.2886H56V48.6141Z" fill="black"/>
                              </svg>
                                 </div>
                        <div class="detail-footer-element-content">
                          <strong style="color:rgba(224, 21, 119, 0.91);">APPLICATION DEADLINE</strong>
                          <div>November 30, 2019</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-content-right col-md-2 col-sm-4">
                <h5>BROWSE SCHOLARSHIPS</h5>
                <a href="/">Athletic Scholarships</a>
                <a href="/">College-Specific Scholarships</a>
                <a href="/">Company-Sponsored Scholarships</a>
                <a href="/">Full List of Scholarships and Grants</a>
                <a href="/">Merit-Based Scholarships</a>
                <a href="/">Minority Scholarships</a>
                <a href="/">View More</a>
            </div>
        
        </div>
    </div>
  </div>
</body>


<div class="footer-content">
        <%- include('./includes/footer.ejs') -%>
      </div>