<!DOCTYPE html>
<%- include('./includes/head.ejs') -%>
<%- include('./includes/header.ejs') -%>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <title>Home</title>
  </head>
  <body>
    <div id="mainPage" class="clear-fix">
      <!--Header-->
      <header class ="top-header clear-fix fix-width">       
      <a href="/" class="logo"><img src="images/logo04.jpg"></a>
     
      <div class=" header-Left ">
        <nav>
          <ul>
            <li><a href="/">home</a></li>
            <li><a href="/aboutus">about us▿</a></li>
            <li><a href="/courses">courses▿</a></li>
            <li><a href="/news">news▿</a></li>
            <li><a href="/guide">guide▿</a></li>
            <li><a href="/contact">contact us▿</a></li>
          </ul>
        </nav>
      </div>
      <div class=" header-input-center">
          <div class="wrap-input1 w-full p-b-4">

                <input class="input1 border-input  " type="text"  placeholder="Search Country, University........">
                <span></span>
               
          </div>
        </div>
       
      </header>
    </div>
      <!--Banner-->
      <div class="container-fluid">     
        <div class="banner-image">
            <h2>ARE YOU READY FOR APPLY?</h2>
            <h3>A good head and good heart are always a formidable combination. But when you add to that a literate tongue or pen, then you have something very special.</h3>
            
            
            <div class="p-t-18">
                <button class="button-banner flex-c-m stext-101 cl0 size-103  bor1  ">
                    Apply Now
                </button>
            </div>
          </div>
      </div>


      <!--Slide-->
    <section id="textContent" class="clear-fix fix-width  container-fluid">
      <div class="wpb-wapper ">
          <div class="itemSlide">
            <div class=" slide-padding ">
              <h5 class="tranform">About us</h5>
                <div class="border-margin"></div>
                <image src="images/banner01.jpg"/>
                <div class="banner-text-head">Programming Scholarship </div>
                <div class="banner-text">We offer leading academic English programs, Lorem Foundation Studies and higher education diplomas that are designed with UTS entry requirements in mind. Each year, over 90% of our diploma graduates achieve the marks they need to enter a Lorem bachelor degree. </div>
                <h4 class="banner-text-read">READ MORE ></h4>
            </div>
          </div>
          <div class="itemSlide">
              <div class=" slide-padding ">
                <h5 class="tranform">Student life</h5>
                  <div class="border-margin"></div>
                  <image src="images/banner02.jpg"/>
                  <div class="banner-text-head">Life is like riding a bicycle</div>
                  <div class="banner-text">Some Student Life opportunities also require an application for consideration, information about these can be found below. If there are no open opportunities at the current time make sure to check often for new and available offerings.  </div>
                  <h4 class="banner-text-read">READ MORE ></h4>
              </div>
            </div>
            <div class="itemSlide">
                <div class=" slide-padding ">
                  <h5 class="tranform">Our benefits</h5>
                    <div class="border-margin"></div>
                    <image src="images/banner03.jpg"/>
                    <div class="banner-text-head">The Benefits of Getting a Scholarship</div>
                    <div class="banner-text">In such a scenario, scholarships come up as the most desired form of financial aid. This is because, unlike educational loans, you don’t have to repay scholarships. If you are deserving, you can get scholarships on merit basis. This makes scholarships prestigious and also pays for your degree. You should definitely apply for scholarships in the college of your choice. After all, a scholarship comes with numerous benefits.</div>
                    <h4 class="banner-text-read">READ MORE ></h4>
                </div>
              </div>
      
      </div>

     <!--image
       <image src="https://demo.themeum.com/wordpress/educon/wp-content/uploads/2017/02/aboutus-1-1.png"/>
      <image src="https://demo.themeum.com/wordpress/educon/wp-content/uploads/2017/02/campuslife2-1.png"/>
      <image src="https://demo.themeum.com/wordpress/educon/wp-content/uploads/2017/03/Courses4-1-570x360.jpg"/>
    -->
     </section>
    
     

     <!--Content-->
     <section id="textContent" class="clear-fix fix-width  container-fluid">
      <div class="container-fluid">
          <div class="wpb-wapper ">
            
              <div class="itemContent tranform01 ">
                <h2 class="content-transform">Scholarships For you</h2>
              </div>
          </div>
          
          <div class="flex-w flex-sb-m p-b-52 container-fluid">		
              <div class="content-transform m-tb-10 content-margin01">
                  
                  <button class="stext-106  m-r-32">
                      <div class="content-margin">All Scholarships</div>
                  </button>
                  <button class="stext-106   m-r-32 m-tb-5" >
                      <div class="content-margin-elements">
                       <a href="/countryscholarships" style="color: black">Country Scholarships</a> 
                      </div>
                  </button>
                  <button class="stext-106  m-r-32 m-tb-5">
                      <div class="content-margin-elements">
                        <a href="/universityscholarships" style="color: black">University Scholarships</a> 
                      </div>
                  </button>
              </div>
          </div>
      </div>
     

      <!--Elements Content-->
    <div class="flex-w flex-sb-m p-b-52 container-fluid">
      <div >		
        <div class="content-transform m-tb-10 ">          
          <div class="itemContent ">
                <h5 class="">Country Scholarships</h5>
                <div class="border-margin"></div>
                
                <!--Content - Country-->
                   
          </div>         
      </div>


      <div class="flex-w flex-sb-m p-b-52 container-fluid">		
          <div class="content-transform m-tb-10 ">           
              <div class="itemContent ">
                <h5 class="">University Scholarships</h5>
                <div class="border-margin"></div>
              </div>  
          </div>         
      </div>
    </div>
     </section>
    
  </body>
 
    
  <div class="footer">
  <%- include('./includes/footer.ejs') -%>
</div>
  <%- include('./includes/end.ejs') -%>
</html>