.banner-image .banner-text-head{
    display: flex;
    justify-content: center;
}
.header-flex{
    display: flex;
    flex-direction: column;
}
.banner-image .banner-text-center{
    display: flex;
    justify-content: center;
}
.banner-button{
    display: flex;
    justify-content: center;
}

.slide-text-head{
    margin-top:25px;
    display: flex;
    justify-content: center;
}

#textContent{
    display: flex;
    flex-direction: column;
}

.slide-button{

}

.banner-image2 {
    margin-top: 0px ;
    margin-bottom: 0px ;
    padding-top: 30px ;
    background: #21AAB2 !important;
    background-position: center ;
    background-repeat: no-repeat ;
    background-size: cover;
}

.slide-content{
    background: #21AAB2 !important;
}

.content-text{
    color: white;
}

.content-text-detail{
    text-align: center;
    font-size:16px;
    word-wrap: break-word;
    margin-top: 10px;
    color:#000000;
    font-weight:400;
    color: white;
    margin:20 0px 26px 0px;
}

.content-banner-text-center{
    display: flex;
    justify-content: center;
}

.content-center-text{
    max-width: 750px;
    text-align: center;
     color:white;
}

.content-text-head{
    font-size: medium;
    font-weight: 400;
}
.slide-content-image{
    display: flex;
    justify-content: center;
}
.content-image{
    width: 130px;
    height: 130px;
    background-image: url(https://www.publicagenda.org/files/banner_newONA.jpg);
    border-radius: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding:0px;
}

.directory{
    display: flex;
    flex-direction: column;
}
.directory-detail{
    display: flex;
    justify-content: center;
}
.directory-detail-content{
    text-align: center;
    width: 700px;
}

.directory-content{
    display: flex;
    flex-direction: column;
}

.directory-list{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.directory-button{
    height: 46px;
    min-width: 300px;
}
.itemSlide-content{
    width: auto;
    height: auto;   
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content{
    display: flex;
    align-items: center;
}

.slide-image{
    display: flex;
    justify-content:center;
    padding-bottom: 25px;
}
.slide{
    display:flex;
    justify-content: space-around;
}