@media only screen and (max-width: 860px) {
    .banner-image h2{
        font-size: 55px;
        word-wrap: break-word;
        line-height: 60px;
        color: #ffffff;
        font-weight: 800;
        margin: 0px;
        padding: 10px;
      }
}


@media only screen and (max-width:500px) {
    .banner-image h2{
   
        font-size: 45px;
        word-wrap: break-word;
        line-height: 60px;
        color: #ffffff;
        font-weight: 800;
        margin: 0px;
        padding: 10px;
    }

    .icon-link{
        width: 100px;
    }
}


@media only screen and (min-width:450px) {
    
    .icon-link{
        width: 100px;
    }
}