<!DOCTYPE html>
<%- include('../includes/head.ejs') -%>
<%- include('../includes/header.ejs') -%>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <title>Home</title>
  </head>
  <body>

    <div id="mainPage" class="clear-fix">
      <!--Header-->
      <header class ="top-header clear-fix fix-width">       
      <a href="" class="logo"><img src="images/logo04.jpg" alt=""></a>
     
      <div class=" header-Left ">
        <nav>
          <ul>
            <li><a href="/">home</a></li>
            <li><a href="/aboutus">about us▿</a></li>
            <li><a href="/courses">courses▿</a></li>
            <li><a href="/news">news▿</a></li>
            <li><a href="/guide">guide▿</a></li>
            <li><a href="/contact">contact us▿</a></li>
          </ul>
        </nav>
      </div>
      <div class=" header-input-center">
          <div class="wrap-input1 w-full p-b-4">

                <input class="input1 border-input  " type="text"  placeholder="Search Country, University........">
                <span></span>
               
          </div>
        </div>
       
      </header>
    </div>

  </div>
  <!--Banner-->
  <div class="container-fluid">     
    <div class="banner-contact">
        <h2>Courses</h2>
        <h3>This courses introduces students to the processes of creating, developing and revising paragraphs and essays based on personal experiences and reactions to shortly reading selections. Students learn basic rules of grammar.</h3>
           
      </div>
  </div>

 
          <!--Content-->
          <section id="textContent" class="clear-fix fix-width  container-fluid" style="margin-top:2%">
              <div class="container-fluid">
                  <div class="wpb-wapper ">
                    
                      <div class="itemContent tranform01 ">
                        <h2 class="content-transform">Scholarships For you</h2>
                      </div>
                  </div>
                  
                  <div class="flex-w flex-sb-m p-b-52 container-fluid">		
                      <div class="content-transform m-tb-10 content-margin01">
                          
                          <button class="stext-106  m-r-32">
                              <div class="content-margin">
                                  <a href="/" style="color: black"> All Scholarships</a> </div>
                          </button>
                          <button class="stext-106   m-r-32 m-tb-5" >
                              <div class="content-margin-elements">
                               <a href="/countryscholarships" style="color: black">Country Scholarships</a> 
                              </div>
                          </button>
                          <button class="stext-106  m-r-32 m-tb-5">
                              <div class="content-margin-elements">
                                <a href="/universityscholarships" style="color: black">University Scholarships</a> 
                              </div>
                          </button>
                      </div>
                  </div>
              </div>
             
        
              <!--Elements Content-->
           
             </section>
            <div class="flex-w flex-sb-m p-b-52 container-fluid">		
              <div class="content-transform m-tb-10 header-margin ">          
                  <div class="itemContent  ">
                    <h5 class="">Find a course</h5>
                    <div class="border-margin"></div>
      
                    
                  </div>     
                   
              </div>      
              <section id="textContent" class="clear-fix fix-width">
                <div class="">
              <div class="container card-view">
                <div class="row justify-content-center">
                    <div class="col-mad-4">
                            <div class="card shadow" style="width: 20rem; height: 450px;">
                                <div class="inner">
                                        <img src="images/course-truyenthong.jpg" class="card-img-top" alt="...">
                                </div>
                                    <div class="card-body text-center"  >
                                      <h5 class="card-title"><strong>Marketing</strong></h5>
                                      <p class="card-text">Marketing is the business process of creating relationships with and satisfying customers. </p>
                                      <a href="#" class="btn" style="background-color: #fe9b12; color: white">Apply now</a>
                                    </div>
                                </div>
                            
                    </div>
                    <div class="col-mad-4">
                        <div class="card shadow" style="width: 20rem; height: 450px;">
                            <div class="inner">
                                    <img src="images/course-kinhdoanh.jpg" height="210px" class="card-img-top" alt="...">
                            </div>
                                <div class="card-body text-center"  >
                                  <h5 class="card-title"><strong>Economics</strong></h5>
                                  <p class="card-text"> Economics focuses on the behaviour and interactions of economic agents and how economies work. </p>
                                  <a href="#" class="btn" style="background-color: #fe9b12; color: white">Apply now</a>
                                </div>
                              </div>
                    
                    </div>
                    
                    <div class="col-mad-4">
                        <div class="card shadow" style="width: 20rem; height: 450px;">
                            <div class="inner">
                                    <img src="images/course-it.jpg" height="210px" class="card-img-top" alt="...">
                            </div>
                                <div class="card-body text-center" >
                                  <h5 class="card-title"><strong>Information technology</strong></h5>
                                  <p class="card-text">IT is considered to be a subset of information and communications technology.</p>
                                  <a href="#" class="btn" style="background-color: #fe9b12; color: white">Apply now</a>
                                </div>
                              </div>
                    </div>
      
                    <div class="col-mad-4">
                        <div class="card shadow" style="width: 20rem; height: 450px;">
                            <div class="inner">
                                    <img src="images/course-giaovien.jpg" height="210px" class="card-img-top" alt="...">
                            </div>
                                <div class="card-body text-center"  >
                                  <h5 class="card-title"><strong>Education</strong></h5>
                                  <p class="card-text">Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits.</p>
                                  <a href="#" class="btn" style="background-color: #fe9b12; color: white">Apply now</a>
                                </div>
                              </div>
                    </div>
      
                    <div class="col-mad-4">
                        <div class="card shadow" style="width: 20rem; height: 450px;">
                            <div class="inner">
                                    <img src="images/course-taichinh.jpg" height="210px" class="card-img-top" alt="...">
                            </div>
                                <div class="card-body text-center"  >
                                  <h5 class="card-title"><strong>International Trade</strong></h5>
                                  <p class="card-text">International trade is the exchange of capital, goods, and services across international borders or territories. </p>
                                  <a href="#" class="btn" style="background-color: #fe9b12; color: white">Apply now</a>
                                </div>
                              </div>
                    </div>
      
                    <div class="col-mad-4">
                        <div class="card shadow" style="width: 20rem; height: 450px;">
                            <div class="inner">
                                    <img src="images/course-dulich.jpg" height="210px" class="card-img-top" alt="...">
                            </div>
                                <div class="card-body text-center"  >
                                  <h5 class="card-title"><strong>Travel</strong></h5>
                                  <p class="card-text">Travel is the movement of people between distant geographical locations.</p>
                                  <a href="#" class="btn" style="background-color: #fe9b12; color: white">Apply now</a>
                                </div>
                              </div>
                    </div>
                    <div class="col-mad-4">
                        <div class="card shadow" style="width: 20rem; height: 450px;">
                            <div class="inner">
                                    <img src="images/course-bacsi.jpg" height="210px" class="card-img-top" alt="...">
                            </div>
                                <div class="card-body text-center"  >
                                  <h5 class="card-title"><strong>Pharmacy</strong></h5>
                                  <p class="card-text">harmacy is the science and technique of preparing, dispensing, and reviewing drugs and providing additional clinical services.</p>
                                  <a href="#" class="btn" style="background-color: #fe9b12; color: white">Apply now</a>
                                </div>
                              </div>
                    </div>
                    <div class="col-mad-4">
                        <div class="card shadow" style="width: 20rem; height: 450px;">
                            <div class="inner">
                                    <img src="images/course-kithuat.jpg" height="210px" class="card-img-top" alt="...">
                            </div>
                                <div class="card-body text-center"  >
                                  <h5 class="card-title"><strong>Engineering</strong></h5>
                                  <p class="card-text">Engineering is the use of scientific principles to design and build machines, structures, and other items, including bridges, tunnels, roads, vehicles, and buildings.</p>
                                  <a href="#" class="btn" style="background-color: #fe9b12; color: white">Apply now</a>
                                </div>
                              </div>
                    </div>
                    <div class="col-mad-4">
                        <div class="card shadow" style="width: 20rem; height: 450px;">
                            <div class="inner">
                                    <img src="images/course-thietke.jpg" height="210px" class="card-img-top" alt="...">
                            </div>
                                <div class="card-body text-center"  >
                                  <h5 class="card-title"><strong>Design</strong></h5>
                                  <p class="card-text">A design is a plan or specification for the construction of an object or system or for the implementation of an activity or process.</p>
                                  <a href="#" class="btn" style="background-color: #fe9b12; color: white">Apply now</a>
                                </div>
                              </div>
                    </div>
                   
                </div>
              </div>
                </section>
            </div>
              <!--Details-->
              <a href="#" class="btn " style="background-color: #e66910; color: white; width: 200px; margin-left: 45% ">Show more...</a>                      
        
          </div>
      
       
          </div>
          
          <div class="footer">
          <%- include('../includes/footer.ejs') -%>
          </div>
          <%- include('../includes/end.ejs') -%>
      </html>