<!DOCTYPE html>
<%- include('../includes/head.ejs') -%>
<%- include('../includes/header.ejs') -%>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <title>Home</title>
  </head>
  <body>

    <div id="mainPage" class="clear-fix">
      <!--Header-->
      <header class ="top-header clear-fix fix-width">       
      <a href="" class="logo"><img src="images/logo04.jpg" alt=""></a>
     
      <div class=" header-Left ">
        <nav>
          <ul>
            <li><a href="/">home</a></li>
            <li><a href="/aboutus">about us▿</a></li>
            <li><a href="/courses">courses▿</a></li>
            <li><a href="/news">news▿</a></li>
            <li><a href="/guide">guide▿</a></li>
            <li><a href="/contact">contact us▿</a></li>
          </ul>
        </nav>
      </div>
      <div class=" header-input-center">
          <div class="wrap-input1 w-full p-b-4">

                <input class="input1 border-input  " type="text"  placeholder="Search Country, University........">
                <span></span>
               
          </div>
        </div>
       
      </header>
    </div>

  </div>
  <!--Banner-->
  <div class="container-fluid">     
    <div class="banner-contact">
        <h2>Scholarship Guide </h2>
        <h3>Think of applying for a scholarship as auditioning for a play: you’ve put the time and energy into preparing for a great audition, but sometimes you just aren’t the right fit for the part. Just because you don’t get cast for a role, doesn’t mean you quit auditioning. You keep working and trying to win the best role - or in this case, the best scholarship.</h3>
           
      </div>
  </div>
       <!--Elements Content-->
       <div class="flex-w flex-sb-m p-b-52 container-fluid banner-margin">
          <div >		
            <div class="content-transform m-tb-10 ">          
              <div class="itemContent ">
                    <h5 class="">Scholarship Guide </h5>
                    <div class="border-margin"></div>
                    
                    <!--Content - Country-->
                       
              </div>         
          </div>
<!--Content-->
<div class="flex-w flex-sb-m p-b-52 container-fluid">
    <div class="row">
        <div >
            <div class="col-xs-12">
                <ul class="media-list">
                    <li class="media mb-3">
                            <div class="media-Left">
                                    <img class="mr-3" src="images/news-01.jpg" alt="Generic placeholder image">                                     
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading" style="font-size: 25px; color: black"><a href="#"style=" color: black">The Scholarship Application Guide</a></h2>
                                <p style="color: black; opacity: 0.8;">The federal government discharged more than $43 million in student loan debt for former students of recently closed for-profit colleges. Students who attended programs operated by Education</p>
                                <a href="#" class="btn" style="background-color: #fe9b12; color: white">Read more</a>
                             
                              </div>
                    </li>
                        <div class="news-border"></div>

                        <li class="media mb-3">
                            <div class="media-Left">
                                    <img class="mr-3" src="images/guide-condition.jpg" alt="Generic placeholder image">                                     
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading" style="font-size: 25px; color: black"><a href="#"style=" color: black">Scholarship Terms and Conditions</a></h2>
                               <p style="color: black; opacity: 0.8;">Prepare well before the scholarship application deadline. Since most scholarships are merit-based, past performance matters. A documented history of your experiences, lessons learned, and accomplishments will come in handy when writing essays or preparing for interviews.</p>
                               <a href="#" class="btn" style="background-color: #fe9b12; color: white">Read more</a>
                      
                              </div>
                    </li>
                        <div class="news-border"></div>

                        <li class="media">
                   
                            <div class="media-Left">
                                    <img class="mr-3" src="images/guide-cv.jpg" alt="Generic placeholder image">                                     
                            </div>
                            <div class="media-body">
                                    <h2 class="media-heading" style="font-size: 25px; color: black"><a href="#"style=" color: black">Steps used in composing a professional scholarship CV</a></h2>
                                    <p style="color: black; opacity: 0.8;">A scholarship CV is supposed to demonstrate student’s suitability for a given scholarship by providing relevant information. The scholarship CV should have a purpose.  A scholarship CV outlines vital applicant’s information such as career goals, academic achievements and qualification and other essential information that could aid in securing a scholarship.</p>
                                    <a href="#" class="btn" style="background-color: #fe9b12; color: white">Read more</a>
                              
                                  </div>
                          </li>
                           <div class="news-border"></div>
        

                    <li class="media">
                            <div class="media-Left">
                                    <img class="mr-3" src="images/guide-counseling.jpg" alt="Generic placeholder image">                                     
                            </div>
                            <div class="media-body">
                                    <h2 class="media-heading" style="font-size: 25px; color: black"><a href="#"style=" color: black">Counseling Scholarships </a></h2>
                                    <p style="color: black; opacity: 0.8;">Knowing the resources available to you as you make your plan for financing your graduate degree is key. Here are just some of the many scholarship and loan repayment opportunities dedicated to helping you pay for your master’s in counseling.</p>
                                    <a href="#" class="btn" style="background-color: #fe9b12; color: white">Read more</a>
                      
                                  </div>
                    </li>
                    <div class="news-border"></div>

                

                <li class="media">
                   
                        <div class="media-Left">
                                <img class="mr-3" src="images/guide-assist.jpg" alt="Generic placeholder image">                                     
                        </div>
                        <div class="media-body">
                                <h2 class="media-heading" style="font-size: 25px; color: black"><a href="#"style=" color: black">College Admissions Assistance for International Students</a></h2>
                                <p style="color: black; opacity: 0.8;">You’ve decided you want to take the next step and study in the United States but you’re not sure where to begin. There are endless things to consider when trying to make this happen like finding a great university, taking the right tests, ensuring your grades and extracurricular activities are up to par, and doing well on the admissions interview, just to name a few</p>
                                <a href="#" class="btn" style="background-color: #fe9b12; color: white">Read more</a>
                      
                              </div>
                </li>
                <div class="news-border"></div>

                <li class="media">
                   
                    <div class="media-Left">
                            <img class="mr-3" src="images/guide-organizing.jpg" alt="Generic placeholder image">                                     
                    </div>
                    <div class="media-body">
                            <h2 class="media-heading" style="font-size: 25px; color: black"><a href="#"style=" color: black">Organizing Your Scholarship List</a></h2>
                            <p style="color: black; opacity: 0.8;">If you’ve applied for scholarships before, you know how difficult it can be to keep track of all the due dates, required materials and award amounts. If you’re submitting applications for multiple awards at once, it can even be hard to remember which scholarships you’ve applied for, which ones you still have to work on, and where you are in the process. That’s why it’s important to organize your scholarship list.</p>
                            <a href="#" class="btn" style="background-color: #fe9b12; color: white">Read more</a>
                      
                          </div>
                  </li>
                   <div class="news-border"></div>

              </ul>
            </div>              
        </div>           
    </div>
</div>
<a href="#" class="btn " style="background-color: #e66910; color: white; width: 200px; margin-left: 40% ">Show more...</a>                      
  
  </body>
    
    <div class="footer">
    <%- include('../includes/footer.ejs') -%>
    </div>
    <%- include('../includes/end.ejs') -%>
</html>