<!DOCTYPE html>
<%- include('../includes/head.ejs') -%>
<%- include('../includes/header.ejs') -%>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <title>Home</title>
  </head>
  <body>

    <div id="mainPage" class="clear-fix">
      <!--Header-->
      <header class ="top-header clear-fix fix-width">       
      <a href="" class="logo"><img src="images/logo04.jpg" alt=""></a>
     
      <div class=" header-Left ">
        <nav>
          <ul>
            <li><a href="/">home</a></li>
            <li><a href="/aboutus">about us▿</a></li>
            <li><a href="/courses">courses▿</a></li>
            <li><a href="/news">news▿</a></li>
            <li><a href="/guide">guide▿</a></li>
            <li><a href="/contact">contact us▿</a></li>
          </ul>
        </nav>
      </div>
      <div class=" header-input-center">
          <div class="wrap-input1 w-full p-b-4">

                <input class="input1 border-input  " type="text"  placeholder="Search Country, University........">
                <span></span>
               
          </div>
        </div>
       
      </header>
    </div>

  </div>
  <!--Banner-->
  <div class="container-fluid mb-20">     
    <div class="banner-contact">
        <h2>News Scholarship </h2>
        <h3>We always stress that you should apply early and apply often, as awards are being added to scholarship databases constantly and many have deadlines that could be fast approaching</h3>
           
      </div>
  </div>

        <!--Elements Content-->
        <div class="flex-w flex-sb-m p-b-52 container-fluid banner-margin">
            <div >		
              <div class="content-transform m-tb-10 ">          
                <div class="itemContent ">
                      <h5 class="">News Scholarships</h5>
                      <div class="border-margin"></div>
                      
                      <!--Content - Country-->
                         
                </div>         
            </div>
  <!--Content-->
  <div class="flex-w flex-sb-m p-b-52 container-fluid">
      <div class="row">
          <div >
              <div class="col-xs-12">
                  <ul class="media-list">
                      <li class="media mb-3">
                              <div class="media-Left">
                                      <img class="mr-3" src="images/news-01.jpg" alt="Generic placeholder image">                                     
                              </div>
                              <div class="media-body">
                                  <h2 class="media-heading" style="font-size: 25px; color: black"><a href="#"style=" color: black">$43M in Loans Forgiven for Students of Closed Colleges</a></h2>
                                  <p class="mb-3" style="color: black; opacity: 0.3;">September 6, 2019 9:18 AM</p>
                                  <p style="color: black; opacity: 0.8;">The federal government discharged more than $43 million in student loan debt for former students of recently closed for-profit colleges. Students who attended programs operated by Education</p>
                                  <a href="#" class="btn" style="background-color: #fe9b12; color: white">Read more</a>
                      
                                </div>
                      </li>
                          <div class="news-border"></div>

                      <li class="media">
                              <div class="media-Left">
                                      <img class="mr-3" src="images/news-03.jpg" alt="Generic placeholder image">                                     
                              </div>
                              <div class="media-body">
                                      <h2 class="media-heading" style="font-size: 25px; color: black"><a href="#"style=" color: black">Parents Giving Up Guardianship for College Cash? </a></h2>
                                      <p class="mb-3" style="color: black; opacity: 0.3;">July 30, 2019 9:24 AM</p>
                                      <p style="color: black; opacity: 0.8;">Dozens of suburban Chicago families have been using a legal loophole to help their children get need-based college financial aid and scholarships. By their parents' forfeiting legal guardianship,</p>
                                      <a href="#" class="btn" style="background-color: #fe9b12; color: white">Read more</a>
                      
                                    </div>
                      </li>
                      <div class="news-border"></div>

                      <li class="media mb-3">
                          <div class="media-Left">
                                  <img class="mr-3" src="images/news-02.jpg" alt="Generic placeholder image">                                     
                          </div>
                          <div class="media-body">
                              <h2 class="media-heading" style="font-size: 25px; color: black"><a href="#"style=" color: black">Carpenter Comps College Costs for 33 Iowans</a></h2>
                              <p class="mb-3" style="color: black; opacity: 0.3;">July 23, 2019 3:50 PM</p>
                              <p style="color: black; opacity: 0.8;">An Iowa Carpenter sent 33 Iowan students he'd never met to college with the $3 million he had in savings.</p>
                              <a href="#" class="btn" style="background-color: #fe9b12; color: white">Read more</a>
                      
                            </div>
                  </li>
                  
                  <div class="news-border" ></div>

                  <li class="media">
                     
                          <div class="media-Left">
                                  <img class="mr-3" src="images/news-03.jpg" alt="Generic placeholder image">                                     
                          </div>
                          <div class="media-body">
                                  <h2 class="media-heading" style="font-size: 25px; color: black"><a href="#"style=" color: black">Proposed Pell Grant Expansion for Short-Term Training Programs</a></h2>
                                  <p class="mb-3" style="color: black; opacity: 0.3;">July 30, 2019 9:24 AM</p>
                                  <p style="color: black; opacity: 0.8;">Lawmakers are considering extending Pell Grants to people who pursue short-term training in order to land better jobs, faster. Federal student aid in the form of Pell Grants can currently be used for</p>
                                  <a href="#" class="btn" style="background-color: #fe9b12; color: white">Read more</a>
                      
                                </div>
                  </li>
                  <div class="news-border"></div>

                              
                    </ul>
              </div>              
              
          </div>           
      </div>
  </div>
  <a href="#" class="btn " style="background-color: #e66910; color: white; width: 200px; margin-left: 40% ">Show more...</a>                      
    </body>
    
    <div class="footer">
    <%- include('../includes/footer.ejs') -%>
    </div>
    <%- include('../includes/end.ejs') -%>
</html>